.NavBar{
    background-color:black;
    color:white;
}
.Grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

.box {
    background-color: lightgray;
    padding: 30px;
    text-align: center;
}