.Grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

.box {
    background-color: lightgray;
    text-align: center;
    aspect-ratio: 1 / 1;
}

.box:nth-child(10) {
    grid-column: 2;
}